th, td {
  padding: 6px;
}

#table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #80808023;
}

#table td, #table th {
  padding: 8px;
  border-width: 0;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: lightblue;
  color: white;
}
