
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <a *ngFor="let route of routes" routerLinkActive="selected"
     [routerLink]="'/'+route.path"
     [routerLinkActiveOptions]="{exact: true}">
    <img width="20" [alt]="route.title" [src]="route.icon"/>
    <span>{{route.title}}</span>
  </a>
</div>

<div class="router-body">
  <router-outlet ></router-outlet>
</div>

<!-- Footer -->
<footer>
  <p style="position: fixed; bottom: 0; font-size: 12px;"> Powered By: Mark Jones Solano - 2021</p>
</footer>
